<nav>
    <ul class = "pagination">
        <li class = "page-item"
            [ngClass] = " {disabled: currentPage == 0 }"
        >
            <a class = "page-link" (click) = "currentPage = currentPage-1">Prev</a>
        </li>
            <li class = "page-item"
                [ngClass]= "{active : i == currentPage}"
                *ngFor = "let image of images; let i = index; ">
                    <a (click) = "currentPage = i" class = "page-link">{{ i+1 }}</a>
            </li>
        <li class = "page-item"
            [ngClass] = " {disabled: currentPage == images.length -1 }"
        >
            <a class = "page-link" (click)= "currentPage = currentPage+1">Next</a>
        </li>
    </ul>
</nav>

<!-- 
[ngClass] = "'active'" -->
 <!-- Will add "active" to class.
          = "getClass()"

          getClass(){
              if(something())
              {
                  return 'active' ;
              }
              if(somethingElse())
              {
                  return 'someOtherClass'
              }
              if(RatherSomethingElse()){
                  return 'disable' ;
              }
          } --> 